<div class="top-bar">
    <h2>Produtos</h2>
    <div class="cart-icon" (click)="irParaCarrinho()">
        <span class="material-icons">shopping_cart</span>
        <div class="badge" *ngIf="totalItensCarrinho > 0">
            {{ totalItensCarrinho }}
        </div>
    </div>
</div>

<div class="container">
    <div class="card-produto" *ngFor="let produto of produtos" (click)="selecionarProduto(produto)">
        <div class="imagem">
            <img [src]="produto.imagem" alt="{{ produto.nome }}" />
        </div>
        <div class="info">
            <h2>{{ produto.nome }}</h2>
            <p>{{ produto.descricao }}</p>
            <h3>R$ {{ produto.preco | number: '1.2-2' }}</h3>
        </div>
    </div>
</div>