  <div class="extender logo-container">
    <img src="assets/images/logo.png" alt="Logo" class="logo" />
  </div>
<div class="top-bar">
  <h2>Selecione</h2>
  <div class="cart-icon" (click)="irParaCarrinho()">
      <span class="material-icons">shopping_cart</span>
      <div class="badge" *ngIf="totalItensCarrinho > 0">
          {{ totalItensCarrinho }}
      </div>
  </div>
</div>

<div class="container">
    <div class="card-produto" *ngFor="let produto of produtos" (click)="selecionarProduto(produto)">
        <div class="imagem">
            <img [src]="produto.imagem" alt="{{ produto.nome }}" />
        </div>
        <div class="info">
            <h2>{{ produto.nome }}</h2>
            <p>
            {{ produto.descricao.length > 80
                ? (produto.descricao | slice:0:80) + '...'
                : produto.descricao
            }}
          </p>
            <h3>a partir de R$ {{ produto.preco | number: '1.2-2' }}</h3>
        </div>
    </div>
</div>
