.container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  .category-image img {
    width: 100%;
    display: block;
    object-fit: cover;
    max-height: 250px;
  }

  .category-info {
    padding: 1rem;
  
    h2 {
      margin: 0;
    }
  
    p {
      color: #666;
      margin: 0.5rem 0;
    }
  
    h3 {
      color: #27ae60;
      margin: 0.5rem 0;
    }
  }
  
}



.accordion {
  border-top: 1px solid #eee;

  .accordion-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background: #f9f9f9;

    h4 {
      margin: 0;
    }
  }

  .accordion-body {
    padding: 0 1rem 1rem 1rem;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.5rem;

      .item-info {
        display: flex;
        flex-direction: column;
      }

      .item-actions {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        button {
          background: #3498db;
          color: white;
          border: none;
          border-radius: 4px;
          padding: 0.3rem 0.7rem;
          cursor: pointer;
        }

        span {
          width: 20px;
          text-align: center;
        }
      }
    }
  }
}

.observacao {
  padding: 1rem;

  label {
    display: block;
    margin-bottom: 0.3rem;
  }

  textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0.5rem;
    resize: none;
    min-height: 60px;
  }
}

.bottom-bar {
  position: sticky;
  bottom: 0;
  background: white;
  border-top: 1px solid #eee;
  padding: 1rem;

  display: flex;
  gap: 0.5rem; // espaço entre botões

  button {
    flex: 1 1 50%;
    background: #27ae60;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;

    &:nth-child(2) {
      background: #2980b9; // cor diferente opcional
    }
  }
}


.radio-grande {
  width: 32px;
  height: 32px;
  accent-color: #007bff; // cor azul (pode trocar se quiser)
  cursor: pointer;
}

